<!DOCTYPE css>

table {
	border-collapse: collaps;
	padding: 5px;
	}
	
td {
	border-collapse: collaps;
	padding: 5px;
}

tr {
	border-collapse: collaps;
	padding: 5px;
}

th {
	border-collapse: collaps;
	padding: 5px;
}


#Pflanzen tr:nth-child(even) {
	background-color: #dddddd;
	}

h3 {
	font-family: 'Audiowide', cursive; font-size: 2em;
	margin-top: 10px;
	margin-bottom: 10px;
	}
h2 {
	font-family: 'Open Sans', sans-serif; font-size: 2em;
	}
h1 {
	font-family: 'Audiowide', cursive; font-size: 2.5em;
	margin-top: 10px;
	margin-bottom: 10px;
	}
p {
	font-family: 'Open Sans', sans-serif; 	font-size: 1em;
	}
	
.button {
	font-size: 1em;
}
	
.button:hover
	{background-color: #3e8e41}

.button:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
	}

a.button5{
	display:inline-block;
	padding:0.46em 1.6em;
	border:0.1em solid #000000;
	margin:0 0.2em 0.2em 0;
	border-radius:0.12em;
	box-sizing: border-box;
	text-decoration:none;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:#000000;
	text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
	background-color:#FFFFFF;
	text-align:center;
	transition: all 0.15s;
	}
a.button5:hover{
	text-shadow: 0 0 2em rgba(255,255,255,1);
	color:#FFFFFF;
	border-color:#FFFFFF;
	}
@media all and (max-width:30em){
	a.button5{
		display:block;
		margin:0.4em auto;
		}
	}
